API_HOST=0.0.0.0
API_PORT=8000
VIZIONER_WORKER_NUMBER=1
VIZIONER_WORKER_TEMPDIR=/tempfiles
VIZIONER_BROKER_URL=redis://broker:6379/0
VIZIONER_CELERY_IMPORTS=worker.tasks
VIZIONER_CONTENT_INTERNAL_ENDPOINT_URL=http://content:9000
VIZIONER_CONTENT_PUBLIC_ENDPOINT_URL=http://0.0.0.0:9000
VIZIONER_CONTENT_ACCESS_KEY=minio_user
VIZIONER_CONTENT_SECRET_KEY=
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=SuperSecretPassword123!
VIZIONER_CONTENT_BUCKET_NAME=contents
VIZIONER_CONTENT_REGION=us-east-1
VIZIONER_CONTENT_TTL=3600
VIZIONER_CONTENT_CERTIFICATE=false
VIZIONER_CONTENT_APPLY_PUBLIC_POLICY=true
UV_HTTP_TIMEOUT=300
UV_HTTP_RETRIES=5
